# Dependencies
node_modules/
.bun/
.bunfig.toml
bun.lockb

# Build
.next/
.out/

# Logs
npm-debug.log*
yarn-debug.log*

# Local DB
db/*.db

# Editor directories and files
.vscode/
.DS_Store

# Test output
coverage/
